img{
    height:100px;
    width:100px;
    border-radius: 0.5rem;
    object-fit: cover;
    transition: 0.4s ease-in-out;
    margin: 0.25rem;

}
img:hover{
    transform: scale(1.1);
box-shadow: 0.1px 0.1px 3px 3px
#9e9d9d;
}